@charset "UTF-8";


main{
    border: 1px solid black;
    overflow: auto;
}

main p{
    text-indent: 30px;
    text-align: justify;

}

main img{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
nav h2{
    margin-left: 10px;
}